@font-face {
    font-family: 'Michroma';
    src: url('../webfonts/Michroma-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Michroma;
    margin: 0;
    padding: 0;
}

.title {
    color: #02a6b5;
    text-shadow: 0 0 10px #CCCCCC;
    position: absolute; 
    left: 0; 
    right: 0; 
    text-align: center; 
    background: url(../images/head_bg.png) no-repeat center center; background-size: 100% 100%;
    z-index: 12;
}

.viewerComponent  {
    color: #b0b0b0; 
    border: 0px;
    font-size: 10px;
}

.viewerShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 300px 250px #000;
    z-index: 10;
    pointer-events: none;
}

.panel {
    position: absolute; 
    margin-top: 10px; 
    /* background-color: rgba(128, 128, 128, 0.33);  */
    padding: 5px; 
    z-index: 11;
    background: rgba(0,0,0,.5) url(../images/line.png); 
    border: 1px solid rgba(25,186,139,.17); 
}


/* 骨架屏动画效果 */
.skeleton-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 25%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 75%);
    background-size: 400% 100%;
    animation: skeleton-loading 2s infinite;
}

/* 定义动画 */
@keyframes skeleton-loading {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}


.panel:before,
.panel:after{ position:absolute; width: 10px; height: 10px; content: "";  border-top: 2px solid #02a6b5; top: 0;}
.panel:before,.boxfoot:before{border-left: 2px solid #02a6b5;left: 0;}
.panel:after,.boxfoot:after{border-right: 2px solid #02a6b5; right: 0;}

.panelTitle { font-size: 10px; color:#02a6b5; text-align: center; line-height: 26px; border-bottom:1px solid rgba(255,255,255,.2)}

.panelContent {
    overflow-y: auto;
    padding: 5px;
}

.panelContent table {
    color: #c5ccff;
    font-size: 8px;
    overflow: hidden;
}

@keyframes row{
    0%{}
    100%{
        transform: translateY(-20%);
    }
}

.panelContent table {
    animation: row 30s linear infinite;
}

.panelContent table:hover {
    animation-play-state: paused;
}

#yardImagePanel .panelContent img:hover {
    cursor: pointer;
    background-color: #000;
    opacity: .2;
}

#yardImagePanel .panelContent i {
    visibility: hidden;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #CCC;
}

#yardImagePanel .panelContent:hover i {
    visibility: visible;
}

.viewerProgressDiv {
    width: 50%; position: absolute; z-index: 99; top: 45%; left: 24%; background-color: rgba(128, 128, 128, 0.7); padding: 20px; border-radius: 25px; visibility: hidden;
}

.viewerNavigationDiv {
    position: absolute; left: 5px; bottom: 27px; z-index: 11
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
    color: transparent;
}

.loginInput {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    background:rgba(0,0,0,0.5);
    border: 1px solid #02a6b5;
}

.loginInput i {
    margin-left: 4px;
    display: inline; 
}

.loginInput label {
    margin-left: 4px;
    color: #02a6b5;
    font-family: 'Michroma';
    font-size: 11px;
    display: inline; 
}

.loginInput input {
    margin: 0;
    background:rgba(0,0,0,0);
    border: 0;
    color: #FFF;
    font-family: 'Michroma';
    font-size: 11px;
    display: inline; 
}

.loginInput input:focus {
    outline: none;
}

#loginButton {
    width: 100%; margin-top: 20px; margin-bottom: 20px;
    height: 30px;
    background:rgba(2,166,181,0.4);
    border: 1px solid #02a6b5;
    color: #FFF;
    font-family: 'Michroma';
    font-size: 11px;
}

#loginButton:hover {
    box-shadow: 0 0 10px #CCCCCC;
    font-size: 14px;
    cursor: pointer;
}

.fade-in {
    animation: fadeIn 2s linear;
}

.fade-out {
    animation: fadeOut 1s linear forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.red-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.green-dot {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

/* 设置全屏覆盖 */
.loading-screen {
    position: absolute;          /* 使用绝对定位 */
    top: 0;                    /* 垂直居中 */
    left: 0;                   /* 水平居中 */
    width: 100%;                 /* 宽度 100% */
    height: 100%;                /* 高度 100% */
    background-color: rgba(0, 0, 0, 0.95); /* 半透明黑色背景 */
    display: flex;
    justify-content: center;     /* 水平居中 */
    align-items: center;         /* 垂直居中 */
    z-index: 9999;               /* 确保在最上层 */
}

/* 加载动画 */
.loading-spinner {
    border: 8px solid #f3f3f3;  /* 浅灰色 */
    border-top: 8px solid #3498db;  /* 蓝色 */
    border-radius: 50%;
    width: 20px;  /* 圆形宽度 */
    height: 20px; /* 圆形高度 */
    animation: spin 2s linear infinite; /* 旋转动画 */
}

/* 定义旋转动画 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 加载文字 */
.loading-screen p {
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
}